
<div class="row">
   <div class="span6">
       <h2>Client</h2>
       <div class="well">
          <table class="table table-striped">
             <thead><tr><th>ID</th><th>Name</th><th>Counter</th><th></th></tr></thead>
             <tbody data-bind="foreach: users">
             <tr>
                <td data-bind="text: id"></td>
                <td>
                   <a href="#" data-bind="text: fullName, click: $parent.toggleEditMode, visible: !editMode()"></a>
                   <div data-bind="template: {name: 'edit-person-template'}, visible: editMode()"></div>
                </td>
                <td data-bind="text: counter"></td>
                <td><a href="#" class="btn btn-small" data-bind="click: $parent.removeUser">×</a></td>
             </tr>
             </tbody>
          </table>
          <form method="post" class="form-inline" data-bind="submit: addUserForm">
             <input type="text" class="input-small" name="fname" placeholder="first name" />
             <input type="text" class="input-small" name="lname" placeholder="last name" />
             <button type="submit" class="btn"><i class="icon-plus-sign"></i></button>
          </form>
       </div>
   </div>
   <div class="span6">
       <h2>Server</h2>
       <pre class="alert alert-info" data-bind='text: serverData'>
       </pre>
   </div>
</div>

<script type="text/html" id="edit-person-template">
      <form class="form-inline" data-bind="submit: $parent.updateUser">
         <input type="text" class="input-small" name="fname" placeholder="first name" data-bind='value: fname' />
         <input type="text" class="input-small" name="lname" placeholder="last name" data-bind='value: lname' />
         <button type="submit" class="btn"><i class="icon-ok-sign"></i></button>
      </form>
</script>