<div class="row">
    <div class="span12">
        <h2 class="well">12</h2>
    </div>
</div>
<div class="row">
    <div class="span6">
        <h2 class="well">6</h2>
    </div>
    <div class="span6">
        <h2 class="well">6</h2>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h2 class="well">3</h2>
    </div>
    <div class="span3">
        <h2 class="well">3</h2>
    </div>
    <div class="span3">
        <h2 class="well">3</h2>
    </div>
    <div class="span3">
        <h2 class="well">3</h2>
    </div>
</div>
<div class="row">
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
    <div class="span1">
        <h2 class="well">1</h2>
    </div>
</div>
