<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-docs.css" />

<section id="code">
   <div class="row">
      <div class="span6">
         <h2>Plain Code</h2>
         <p>Use <code>&lt;pre&gt;</code> for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.</p>
         <p><strong>Sample</strong></p>
<pre>
&lt;p&gt;Sample text here...&lt;/p&gt;
</pre>
         <p><strong>Source</strong></p>
<pre class="prettyprint linenums" style="margin-bottom: 9px;">
&lt;pre&gt;
  &amp;lt;p&amp;gt;Sample text here...&amp;lt;/p&amp;gt;
&lt;/pre&gt;
</pre>
         <p><strong>Note:</strong> Be sure to keep code within <code>&lt;pre&gt;</code> tags as close to the left as possible; it will render all tabs.</p>
         <p>You may optionally add the <code>.pre-scrollable</code> class which will set a max-height of 350px and provide a y-axis scrollbar.</p>
      </div><!--/span-->
      <div class="span6">
         <h2>Google Prettify</h2>
         <p>Take the same <code>&lt;pre&gt;</code> element and add two optional classes for enhanced rendering.</p>
         <p><strong>Sample</strong></p>
<pre class="prettyprint linenums" style="margin-bottom: 9px;">
&lt;p&gt;Sample text here...&lt;/p&gt;
</pre>
         <p><strong>Source</strong></p>
<pre class="prettyprint linenums" style="margin-bottom: 9px;">
&lt;pre class="prettyprint linenums"&gt;
  &amp;lt;p&amp;gt;Sample text here...&amp;lt;/p&amp;gt;
&lt;/pre&gt;
</pre>
         <p>View the readme for <a href="http://google-code-prettify.googlecode.com/svn/trunk/README.html">how to use Google Prettify</a>.</p>
      </div><!--/span-->
   </div><!--/row-->
</section>


<script type="text/javascript">
   // NOTICE!! DO NOT USE ANY OF THIS JAVASCRIPT
   // IT'S ALL JUST JUNK FOR OUR DOCS!
   // ++++++++++++++++++++++++++++++++++++++++++

   !function ($) {

      $(function(){

         // Disable certain links in docs
         $('section [href^=#]').click(function (e) {
            e.preventDefault();
         });

         // make code pretty
         window.prettyPrint && prettyPrint();

      });

   }(window.jQuery)
</script>